# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon_data = pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon_data.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
uniques_types = list(pokemon_data['Type 1'].dropna().unique())

for pokemon_type in list(pokemon_data['Type 2'].dropna().unique()):
    if pokemon_type not in uniques_types:
        uniques_types.append(pokemon_type)

np.array(uniques_types)

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype='<U8')

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
def clean_mega(x):

    if 'Mega' in x:

        x =  x.replace('Mega', '')
        x = 'Mega ' + x
        x = x.split()
        x = list(dict.fromkeys(x))
        x = ' '.join(x)

    return x

pokemon_data['Name'] = pokemon_data['Name'].apply(clean_mega)

pokemon_data.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
pokemon_data['A/D Ratio'] = pokemon_data['Attack'] / pokemon_data['Defense']

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
pokemon_data[pokemon_data['A/D Ratio'] == pokemon_data['A/D Ratio'].max()][['Name', 'A/D Ratio']]

                   Name  A/D Ratio
429  DeoxysAttack Forme        9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
pokemon_data[pokemon_data['A/D Ratio'] == pokemon_data['A/D Ratio'].min()][['Name', 'A/D Ratio']]

        Name  A/D Ratio
230  Shuckle   0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [9]:
def combo_type(row):

    if not pd.isna(row['Type 1']) and not pd.isna(row['Type 2']):
        return row['Type 1'] + '-' + row['Type 2']

    elif not pd.isna(row['Type 1']) and pd.isna(row['Type 2']):
        return row['Type 1']

    elif pd.isna(row['Type 1']) and not pd.isna(row['Type 2']):
        return row['Type 2']

    else:
        return np.NaN

pokemon_data['Combo Type'] = pokemon_data.apply(combo_type, axis = 1)
pokemon_data[['Name', 'Combo Type']]

                    Name     Combo Type
0              Bulbasaur   Grass-Poison
1                Ivysaur   Grass-Poison
2               Venusaur   Grass-Poison
3          Mega Venusaur   Grass-Poison
4             Charmander           Fire
..                   ...            ...
795              Diancie     Rock-Fairy
796         Mega Diancie     Rock-Fairy
797  HoopaHoopa Confined  Psychic-Ghost
798   HoopaHoopa Unbound   Psychic-Dark
799            Volcanion     Fire-Water

[800 rows x 2 columns]

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [10]:
pokemon_data[['Name', 'A/D Ratio']].sort_values('A/D Ratio', ascending = False).head(5)

                   Name  A/D Ratio
429  DeoxysAttack Forme      9.000
347            Carvanha      4.500
19        Mega Beedrill      3.750
453            Cranidos      3.125
348            Sharpedo      3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [11]:
top_5_ad = pokemon_data[['Name', 'A/D Ratio', 'Combo Type']].sort_values('A/D Ratio', ascending = False).head(5)
uniques_combo_type_top_5 = top_5_ad['Combo Type'].unique()
uniques_combo_type_top_5

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [12]:
pokemon_data.groupby('Combo Type').agg({'#':np.mean, 'Total':np.mean, 'HP':np.mean, 
                                       'Attack':np.mean, 'Defense':np.mean, 'Sp. Atk':np.mean, 
                                       'Sp. Def':np.mean, 'Speed':np.mean, 'Generation':np.mean, 
                                       'Legendary':np.mean, 'A/D Ratio':np.mean})

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.940179
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274
...,...,...,...,...,...,...,...,...,...,...,...
Water-Ice,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0,0.821759
Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0,1.162149
Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0,0.783668
Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0,0.727170
Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0,0.977273